<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workers</title>
    <link rel="stylesheet" href="/ISLab1/static/css/output.css">
</head>
<body>
<div class="mx-auto my-auto flex flex-col justify-center items-center">
  <h1 class="text-3xl font-bold underline">Workers</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Salary</th>
    </tr>
    <tr th:each="worker : ${workers}">
      <td th:text="${worker.id}"></td>
      <td th:text="${worker.name}"></td>
      <td th:text="${worker.salary}"></td>
    </tr>
  </table>
  <a th:href="@{'/workers/new'}">Create new worker</a>
</div>
</body>
</html>